<%= form_for(@source) do |f| %>
<div class="form">
  <div class="">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>
  <div class="">
    <%= f.label :link %>
    <%= f.text_area :link %>
  </div>
  <div class="">
    <%= f.hidden_field :medium, value: medium %>
  </div>
  <div class="waves-effect btn blue">
    <%= f.submit %>
  </div>
</div>
<% end %>
