<div class="row dash">
  <div id="side-nav" class="col s2">
    <ul>
      <li>Internet Stats</li>
      <li>Mobile Stats</li>
      <li>Facebook Stats</li>
      <li>Twitter Stats</li>
      <li>Instagram Stats</li>
    </ul>
  </div>

  <div class="col s10 charts">

          <!-- Internet Section-->
          <div class="card">
            <h2 class="card-title">Number of Internet Users in Kenya</h2>
            <div class="row">
              <div class="col s3">
                <% report = @reports.where(medium: 'Internet').last %>
                <h6><%= report.title %></h6> by <%= report.author %>
                <p><%= report.body.split[0..50].join(" ") %>
                <a class="modal-trigger" href="#report-internet">continue reading</a></p></br>
                <!-- report modal -->
                  <div id="report-internet" class="modal bottom-sheet">
                   <div class="modal-content">
                     <h3 class="card-title"><%= report.title %></h3>
                     <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                   </div>
                 </div>
                 <!-- End report -->
                <a class="material-icons modal-trigger" href="#add_internet_report">add_circle</a>
                <div id="add_internet_report" class="modal">
                  <div class="modal-form">
                    <h5 class="card-title">New Report</h5>
                    <%= render :partial => 'reports/form', locals: {medium: "Internet"} %>
                  </div>
                </div>
                <!-- <%= link_to "edit", edit_report_path(report), class: 'material-icons' %> -->
                <%= link_to "archive", internet_users_download_path, class: 'material-icons' %>
                <a class="material-icons modal-trigger" href="#add_internet_data">insert_chart</a>
                <div id="add_internet_data" class="modal">
                  <div class="modal-content">
                    <h3 class="card-title">Add Internet Statistics</h3>
                    <%= form_tag("/internet_users", method: "post") do %>
                		  <div class="row">
                		  	<div class="col s6">
                		  		<%= label_tag(:year, "Year:") %>
                					<%= text_field_tag(:year, if InternetUser.count > 0 then InternetUser.last.year.to_i + 1 else "Year" end) %>
                		  	</div>
                		  	<div class="col s6">
                		  		<%= label_tag(:hits, "Users:") %>
                		  		<%= number_field_tag(:hits, :required => true) %>
                		  	</div>
                		  </div>
                		  <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                		<% end %>
                  </div>
                </div>
                <%= link_to "view_list", reports_path, class: 'material-icons' %>
                <a class="material-icons modal-trigger" href="#share-icons">share</a>
                <div id="share-icons" class="share">
                  <%= social_share_button_tag(report.title) %>
                </div>
              </div>
              <div class="col s9">
                <div class="chart">
                  <%= area_chart data_collection_internet_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                  <div class="chart-actions">
                    <span class="source-url">Sources:&nbsp</span>
                    <% @sources.each do |s| %>
                      <%if s.medium == "Internet" %>
                          <span class="source-url"><%= link_to s.name, s.link, target: '_blank' %>&nbsp&nbsp</span>
                      <% end %>
                    <% end %>
                    <a class="material-icons modal-trigger" href="#add_internet_source">add_circle</a>
                    <div id="add_internet_source" class="modal">
                      <div class="modal-form">
                        <h5 class="card-title">New Source</h5>
                        <%= render :partial => 'sources/new', locals: {medium: "Internet"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Internet Section -->
          <!-- Facebook Section -->

          <!-- End Facebook Section -->
  </div>

</div>
