<div class="row dash">
  <div id="side-nav" class="col s2">
    <ul>
      <li>Internet Stats</li>
      <li>Mobile Stats</li>
      <li>Facebook Stats</li>
      <li>Twitter Stats</li>
      <li>Instagram Stats</li>
    </ul>
  </div>

  <div class="col s10 charts">

          <!-- Internet -->
          <div class="card">
            <div class="row">
              <div class="col s2">
                <div class="icon">
            			<%= image_tag 'internet', height: '30' %>
            		</div>
                <h6>Internet Stats</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  nostrud exercitation ullamco laboris nisi ut nostrud exercitation ullamco laboris nisi ut</p>
                <a id="reveal" href="#">continue reading</a></br>
                <%= link_to "add", new_report_path('Internet'), class: 'material-icons' %>
              </div>
              <div class="col s9">
                <div class="chart">
                  <%= area_chart data_collection_internet_user_path, download: true, title: "Internet Trends", xtitle: "Year", ytitle: "Hits" %>
                  <div class="chart-actions">
                    <span class="source-url">Sources: </span>
                    <% @sources.each do |s| %>
                      <%if s.medium == "Internet" %>
                          <span class="source-url"><%= link_to s.name, s.link, target: '_blank' %></span>
                      <% end %>
                    <% end %>
                    <%= link_to "add", new_source_path('Internet'), class: 'material-icons' %>
                  </div>
                </div>
              </div>
              <div class="col s1">
                <h6> Chart Type</h6>
                <ul>
                  <li>Mobile Phones</li>
                  <li>Fiber Optic</li>
                  <li>Wi-Fi</li>
                  <li>LAN</li>
                </ul>
                <i class="material-icons">share</i>  <i class="material-icons">file_download</i>
              </div>
            </div>
          </div>
          <div id="report-internet" class="report">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a id="hide" href="#">Close</a>
          </div>
<!--
      		<div class="icon">
      			<%= image_tag 'mobile', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_mobile_user_path, download: true, title: "Mobile Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>
      		<div class="icon">
      			<%= image_tag 'facebook', height: '50' %>
      		</div>
    			<div class="chart">
            <%= area_chart data_collection_facebook_user_path, download: true, title: "Facebook Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>
      		<div class="icon">
      			<%= image_tag 'twitter', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_twitter_user_path, download: true, title: "Twitter Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>
      		<div class="icon">
      			<%= image_tag 'instagram', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_instagram_user_path, download: true, title: "Instagram Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>

      		<div class="icon">
      			<%= image_tag 'whatsapp', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_whatsapp_user_path, download: true, title: "Whatsapp Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>
      		<div class="icon">
      			<%= image_tag 'linkedin', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_linkedin_user_path, download: true, title: "LinedIn Trends", xtitle: "Year", ytitle: "Hits" %>
          </div>
        	<div class="icon">
      			<%= image_tag 'telegram', height: '50' %>
      		</div>
          <div class="chart">
          	<%= area_chart data_collection_telegram_user_path, download: true, title: "Telegram Trends", xtitle: "Year", ytitle: "Hits" %>
          </div> -->

  </div>

</div>
