<%= render partial: 'layouts/nav' %>

  <div class="charts">

          <!-- Internet Section-->
          <section id="internet">
            <div class="card">
              <h2 class="card-title">Number of Internet Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Internet').any? %>
                    <% report = @reports.where(medium: 'Internet').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-internet">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-internet" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>

                  <% if current_admin %>
                  <!-- End report -->
                 <a class="material-icons modal-trigger" href="#add-internet-report">add_circle</a>
                 <div id="add-internet-report" class="modal">
                   <div class="modal-form">
                     <h5 class="card-title">New Report</h5>
                     <%= render :partial => 'reports/form', locals: {medium: "Internet"} %>
                   </div>
                 </div>
                 <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                 <a class="material-icons modal-trigger" href="#add-internet-data">insert_chart</a>
                 <div id="add-internet-data" class="modal">
                   <div class="modal-content">
                     <h3 class="card-title">Add Internet Statistics</h3>
                     <%= form_tag("/internet_users", method: "post") do %>
                     <div class="row">
                       <div class="col s6">
                         <%= label_tag(:year, "Year:") %>
                         <%= text_field_tag(:year, if InternetUser.count > 0 then InternetUser.last.year.to_i + 1 else "Year" end) %>
                       </div>
                       <div class="col s6">
                         <%= label_tag(:hits, "Users:") %>
                         <%= number_field_tag(:hits, :required => true) %>
                       </div>
                     </div>
                     <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                     <% end %>
                   </div>
                 </div>
                  <% end %>
                  <%= link_to "archive", internet_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Internet'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-internet">share</a>
                  <div id="share-icons-internet" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_internet_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Internet" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <% if current_admin %>
                        <a class="material-icons modal-trigger" href="#add-internet-source">add_circle</a>
                        <div id="add-internet-source" class="modal">
                          <div class="modal-form">
                            <h5 class="card-title">New Source</h5>
                            <%= render :partial => 'sources/new', locals: {medium: "Internet"} %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Internet Section -->
          <!-- Facebook Section -->
        <section id="facebook">
          <div class="card">
            <h2 class="card-title">Number of Facebook Users in Kenya</h2>
            <div class="row">
              <div class="col s3">
                <% if @reports.where(medium: 'Facebook').any? %>
                  <% report = @reports.where(medium: 'Facebook').last %>
                  <h6><%= report.title %></h6> by <%= report.author %>
                  <p><%= report.body.split[0..50].join(" ") %>
                  <a class="modal-trigger" href="#report-facebook">continue reading</a></p></br>
                  <!-- report modal -->
                    <div id="report-facebook" class="modal bottom-sheet">
                     <div class="modal-content">
                       <h3 class="card-title"><%= report.title %></h3>
                       <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                     </div>
                   </div>
                <% end %>
                 <!-- End report -->
                <% if current_admin %>
                <a class="material-icons modal-trigger" href="#add-facebook-report">add_circle</a>
                <div id="add-facebook-report" class="modal">
                  <div class="modal-form">
                    <h5 class="card-title">New Report</h5>
                    <%= render :partial => 'reports/form', locals: {medium: "Facebook"} %>
                  </div>
                </div>
                <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                <a class="material-icons modal-trigger" href="#add-facebook-data">insert_chart</a>
                <div id="add-facebook-data" class="modal">
                  <div class="modal-content">
                    <h3 class="card-title">Add Internet Statistics</h3>
                    <%= form_tag("/facebook_users", method: "post") do %>
                    <div class="row">
                      <div class="col s6">
                        <%= label_tag(:year, "Year:") %>
                        <%= text_field_tag(:year, if FacebookUser.count > 0 then FacebookUser.last.year.to_i + 1 else "Year" end) %>
                      </div>
                      <div class="col s6">
                        <%= label_tag(:hits, "Users:") %>
                        <%= number_field_tag(:hits, :required => true) %>
                      </div>
                    </div>
                    <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <%= link_to "archive", facebook_users_download_path, class: 'material-icons' %>
                <%= link_to "view_list", reports_path('Facebook'), class: 'material-icons' %>
                <a class="material-icons modal-trigger" href="#share-icons-facebook">share</a>
                <div id="share-icons-facebook" class="share">
                  <%= if report == nil? then social_share_button_tag(report.title) end %>
                </div>
              </div>
              <div class="col s9">
                <div class="chart">
                  <%= area_chart data_collection_facebook_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                  <div class="chart-actions">
                    <span class="source-url">Sources:&nbsp</span>
                    <% @sources.each do |s| %>
                      <%if s.medium == "Facebook" %>
                          <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                      <% end %>
                    <% end %>
                    <% if current_admin %>
                    <a class="material-icons modal-trigger" href="#add-facebook-source">add_circle</a>
                    <div id="add-facebook-source" class="modal">
                      <div class="modal-form">
                        <h5 class="card-title">New Source</h5>
                        <%= render :partial => 'sources/new', locals: {medium: "Facebook"} %>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
          <!-- End Facebook Section -->
          <!-- Twitter Section -->
          <section id="twitter">
            <div class="card">
              <h2 class="card-title">Number of Twitter Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Twitter').any? %>
                    <% report = @reports.where(medium: 'Twitter').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-twitter">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-twitter" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>
                   <!-- End report -->
                  <% if current_admin %>
                  <a class="material-icons modal-trigger" href="#add-twitter-report">add_circle</a>
                  <div id="add-twitter-report" class="modal">
                    <div class="modal-form">
                      <h5 class="card-title">New Report</h5>
                      <%= render :partial => 'reports/form', locals: {medium: "Twitter"} %>
                    </div>
                  </div>
                  <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                  <a class="material-icons modal-trigger" href="#add-twitter-data">insert_chart</a>
                  <div id="add-twitter-data" class="modal">
                    <div class="modal-content">
                      <h3 class="card-title">Add Internet Statistics</h3>
                      <%= form_tag("/twitter_users", method: "post") do %>
                      <div class="row">
                        <div class="col s6">
                          <%= label_tag(:year, "Year:") %>
                          <%= text_field_tag(:year, if TwitterUser.count > 0 then TwitterUser.last.year.to_i + 1 else "Year" end) %>
                        </div>
                        <div class="col s6">
                          <%= label_tag(:hits, "Users:") %>
                          <%= number_field_tag(:hits, :required => true) %>
                        </div>
                      </div>
                      <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <%= link_to "archive", twitter_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Twitter'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-twitter">share</a>
                  <div id="share-icons-twitter" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_twitter_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Twitter" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <% if current_admin %>
                      <a class="material-icons modal-trigger" href="#add-twitter-source">add_circle</a>
                      <div id="add-twitter-source" class="modal">
                        <div class="modal-form">
                          <h5 class="card-title">New Source</h5>
                          <%= render :partial => 'sources/new', locals: {medium: "Twitter"} %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Twitter Section -->
          <!-- Instagram Section -->
          <section id="instagram">
            <div class="card">
              <h2 class="card-title">Number of Instagram Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Instagram').any? %>
                    <% report = @reports.where(medium: 'Instagram').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-instagram">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-instagram" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>
                   <!-- End report -->
                  <% if current_admin %>
                  <a class="material-icons modal-trigger" href="#add-instagram-report">add_circle</a>
                  <div id="add-instagram-report" class="modal">
                    <div class="modal-form">
                      <h5 class="card-title">New Report</h5>
                      <%= render :partial => 'reports/form', locals: {medium: "Instagram"} %>
                    </div>
                  </div>
                  <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                  <a class="material-icons modal-trigger" href="#add-instagram-data">insert_chart</a>
                  <div id="add-instagram-data" class="modal">
                    <div class="modal-content">
                      <h3 class="card-title">Add Internet Statistics</h3>
                      <%= form_tag("/instagram_users", method: "post") do %>
                      <div class="row">
                        <div class="col s6">
                          <%= label_tag(:year, "Year:") %>
                          <%= text_field_tag(:year, if InstagramUser.count > 0 then InstagramUser.last.year.to_i + 1 else "Year" end) %>
                        </div>
                        <div class="col s6">
                          <%= label_tag(:hits, "Users:") %>
                          <%= number_field_tag(:hits, :required => true) %>
                        </div>
                      </div>
                      <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <%= link_to "archive", instagram_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Instagram'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-instagram">share</a>
                  <div id="share-icons-instagram" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_instagram_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Instagram" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <% if current_admin %>
                      <a class="material-icons modal-trigger" href="#add-instagram-source">add_circle</a>
                      <div id="add-instagram-source" class="modal">
                        <div class="modal-form">
                          <h5 class="card-title">New Source</h5>
                          <%= render :partial => 'sources/new', locals: {medium: "Instagram"} %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Instagram Section -->
          <!-- Mobile Section -->
          <section id="mobile">
            <div class="card">
              <h2 class="card-title">Number of Mobile Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Mobile').any? %>
                    <% report = @reports.where(medium: 'Mobile').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-mobile">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-mobile" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>
                   <!-- End report -->
                  <% if current_admin %>
                  <a class="material-icons modal-trigger" href="#add-mobile-report">add_circle</a>
                  <div id="add-mobile-report" class="modal">
                    <div class="modal-form">
                      <h5 class="card-title">New Report</h5>
                      <%= render :partial => 'reports/form', locals: {medium: "Mobile"} %>
                    </div>
                  </div>
                  <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                  <a class="material-icons modal-trigger" href="#add-mobile-data">insert_chart</a>
                  <div id="add-mobile-data" class="modal">
                    <div class="modal-content">
                      <h3 class="card-title">Add Mobile Statistics</h3>
                      <%= form_tag("/mobile_users", method: "post") do %>
                      <div class="row">
                        <div class="col s6">
                          <%= label_tag(:year, "Year:") %>
                          <%= text_field_tag(:year, if MobileUser.count > 0 then MobileUser.last.year.to_i + 1 else "Year" end) %>
                        </div>
                        <div class="col s6">
                          <%= label_tag(:hits, "Users:") %>
                          <%= number_field_tag(:hits, :required => true) %>
                        </div>
                      </div>
                      <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <%= link_to "archive", mobile_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Mobile'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-mobile">share</a>
                  <div id="share-icons-mobile" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_mobile_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Mobile" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <% if current_admin %>
                      <a class="material-icons modal-trigger" href="#add-mobile-source">add_circle</a>
                      <div id="add-mobile-source" class="modal">
                        <div class="modal-form">
                          <h5 class="card-title">New Source</h5>
                          <%= render :partial => 'sources/new', locals: {medium: "Mobile"} %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End Mobile Section -->
          <!-- linkedin section -->
          <section id="linkedin">
            <div class="card">
              <h2 class="card-title">Number of Linkedin Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Linkedin').any? %>
                    <% report = @reports.where(medium: 'Linkedin').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-linkedin">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-linkedin" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>
                   <!-- End report -->
                  <% if current_admin %>
                  <a class="material-icons modal-trigger" href="#add-linkedin-report">add_circle</a>
                  <div id="add-linkedin-report" class="modal">
                    <div class="modal-form">
                      <h5 class="card-title">New Report</h5>
                      <%= render :partial => 'reports/form', locals: {medium: "Linkedin"} %>
                    </div>
                  </div>
                  <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                  <a class="material-icons modal-trigger" href="#add-linkedin-data">insert_chart</a>
                  <div id="add-linkedin-data" class="modal">
                    <div class="modal-content">
                      <h3 class="card-title">Add Mobile Statistics</h3>
                      <%= form_tag("/linkedin_users", method: "post") do %>
                      <div class="row">
                        <div class="col s6">
                          <%= label_tag(:year, "Year:") %>
                          <%= text_field_tag(:year, if LinkedinUser.count > 0 then LinkedinUser.last.year.to_i + 1 else "Year" end) %>
                        </div>
                        <div class="col s6">
                          <%= label_tag(:hits, "Users:") %>
                          <%= number_field_tag(:hits, :required => true) %>
                        </div>
                      </div>
                      <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <%= link_to "archive", linkedin_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Linkedin'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-linkedin">share</a>
                  <div id="share-icons-linkedin" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_linkedin_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Linkedin" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <a class="material-icons modal-trigger" href="#add-linkedin-source">add_circle</a>
                      <div id="add-linkedin-source" class="modal">
                        <div class="modal-form">
                          <h5 class="card-title">New Source</h5>
                          <%= render :partial => 'sources/new', locals: {medium: "Linkedin"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End linkedin section -->
          <!-- WhatsApp section -->
          <section id="whatsapp">
            <div class="card">
              <h2 class="card-title">Number of WhatsApp Users in Kenya</h2>
              <div class="row">
                <div class="col s3">
                  <% if @reports.where(medium: 'Whatsapp').any? %>
                    <% report = @reports.where(medium: 'Whatsapp').last %>
                    <h6><%= report.title %></h6> by <%= report.author %>
                    <p><%= report.body.split[0..50].join(" ") %>
                    <a class="modal-trigger" href="#report-whatsapp">continue reading</a></p></br>
                    <!-- report modal -->
                      <div id="report-whatsapp" class="modal bottom-sheet">
                       <div class="modal-content">
                         <h3 class="card-title"><%= report.title %></h3>
                         <p class="report"><%= if report.body.size > 50 then report.body.split[51..1000].join(" ") end %></p>
                       </div>
                     </div>
                  <% end %>
                   <!-- End report -->
                  <% if current_admin %>
                  <a class="material-icons modal-trigger" href="#add-whatsapp-report">add_circle</a>
                  <div id="add-whatsapp-report" class="modal">
                    <div class="modal-form">
                      <h5 class="card-title">New Report</h5>
                      <%= render :partial => 'reports/form', locals: {medium: "Whatsapp"} %>
                    </div>
                  </div>
                  <%= if report == nil? then link_to "edit", edit_report_path(report), class: 'material-icons' end %>
                  <a class="material-icons modal-trigger" href="#add-whatsapp-data">insert_chart</a>
                  <div id="add-whatsapp-data" class="modal">
                    <div class="modal-content">
                      <h3 class="card-title">Add Whatsapp Statistics</h3>
                      <%= form_tag("/whatsapp_users", method: "post") do %>
                      <div class="row">
                        <div class="col s6">
                          <%= label_tag(:year, "Year:") %>
                          <%= text_field_tag(:year, if WhatsappUser.count > 0 then WhatsappUser.last.year.to_i + 1 else "Year" end) %>
                        </div>
                        <div class="col s6">
                          <%= label_tag(:hits, "Users:") %>
                          <%= number_field_tag(:hits, :required => true) %>
                        </div>
                      </div>
                      <%= submit_tag("Add", class: 'waves-effect btn blue') %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                  <%= link_to "archive", whatsapp_users_download_path, class: 'material-icons' %>
                  <%= link_to "view_list", reports_path('Whatsapp'), class: 'material-icons' %>
                  <a class="material-icons modal-trigger" href="#share-icons-whatsapp">share</a>
                  <div id="share-icons-whatsapp" class="share">
                    <%= if report == nil? then social_share_button_tag(report.title) end %>
                  </div>
                </div>
                <div class="col s9">
                  <div class="chart">
                    <%= area_chart data_collection_whatsapp_user_path, download: true, xtitle: "Year", ytitle: "Hits" %>
                    <div class="chart-actions">
                      <span class="source-url">Sources:&nbsp</span>
                      <% @sources.each do |s| %>
                        <%if s.medium == "Whatsapp" %>
                            <span class="source-url"><%= link_to s.name, "http://#{s.link}", target: '_blank' %>&nbsp&nbsp</span>
                        <% end %>
                      <% end %>
                      <% if current_admin %>
                      <a class="material-icons modal-trigger" href="#add-whatsapp-source">add_circle</a>
                      <div id="add-whatsapp-source" class="modal">
                        <div class="modal-form">
                          <h5 class="card-title">New Source</h5>
                          <%= render :partial => 'sources/new', locals: {medium: "Whatsapp"} %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End whatsapp section -->
  </div>
