<%= render partial: 'layouts/nav' %>

<div class="report-page">
  <p id="notice"><%= notice %></p>

    <h3 class="card-title"><%= @report.title %></h3>
    <%= @report.body %></br>

    <strong>Author:</strong>
    <%= @report.author %></br>

    <strong>Medium:</strong>
    <%= @report.medium %></br>

  <% if current_admin %>
    <%= link_to 'Edit', edit_report_path(@report) %> |
  <% end %>
  <%= link_to 'Back', reports_path %>

</div>
